<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>meteoWidget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">meteoWidget</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-back-button defaultHref="/home">Back!!!</ion-back-button>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Weather</ion-card-title>
        <ion-card-subtitle>{{pays}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <img  src="../../assets/icon/favicon.png" />
            <ion-label>{{temp}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{pres}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{hum}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
